<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CooConexion"
			 connectionString="Database=LEN3_PROYECTFINAL; Server=DESKTOP-7NF35BB\SQLEXPRESS; User=sa; Pwd=1234; MultipleActiveResultSets=True;" providerName="System.Data.SqlCliente"/>
	</connectionStrings>
</configuration>